matplotlib==3.10.8
matplotlib-inline==0.2.1
matplotlibpyplot==1.6
mpld3==0.5.12
openpyxl==3.2.0b1
pandas==2.3
pandas-stubs==3.0.0.260204
pathlib==1.0.1
pillow==12.1.0
plotly==6.5.2
streamlit==1.55.0
